body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
.color-crimson {
  color: crimson;
}
.first-portion {
  background-image: url(images/first-bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.portion-width {
  width: 50%;
  margin-top: 12%;
  padding-left: 5%;
}
.portion-width img {
  width: 90%;
  height: auto;
  margin-right: 10%;
}
.button1 {
  text-decoration: none;
  background-image: linear-gradient(orange, rgba(255, 0, 0, 1));
  font-weight: 700;
  padding: 15px 32px;
  border-radius: 12px;
}
.second-portion {
  background-image: url(images/second-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.recipie-division {
  text-align: center;
  display: block;
}
#recipe-details {
  text-align: center;
}

.foot-color {
  color: maroon;
}
.f-background {
  background-color: grey;
}
footer p {
  text-align: center;
}
footer h2 {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 36px;
  line-height: 36px;
  background-color: black;
  font-size: 13px;
}
li {
  float: left;
  border-right: 1px solid blue;
}
a {
  padding: 0 30px;
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  background-color: blue;
}
.active a {
  background-color: blue;
}
.display {
  display: block;
}
.recipy {
  margin-top: 100px;
}
.recipy h1 {
  text-align: center;
}
.recipy-title {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5em;
}
.recipy-container {
  display: flex;
  margin-top: 100px;
}
.width-thirty {
  width: 30%;
  padding: 20px 20px 10px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
}
.width-thirty img {
  width: 100%;
}
.recipy-one {
  margin-left: 100px;
  margin-right: 40px;
}
.recipy-three {
  margin-right: 100px;
  margin-left: 40px;
}
.recipy-container h2 {
  margin: 30px 0 20px 0px;
}
.recipy-container p {
  margin: 20px 0 20px 0px;
  line-height: 1.5em;
  color: #18191e;
}
